:root {
  --p-popover-content-padding: 0;
  --p-menu-background: rgb(var(--app-color-light));
  --p-menu-color: rgb(var(--app-color-black));
  --p-menu-border-color: transparent;
  --p-menu-border-radius: 0;
  --p-menu-list-padding: 0;
  --p-menu-list-gap: 10px;
  --p-menu-transition-duration: var(--admin-transition-duration);
  --p-menu-item-color: rgb(var(--app-color-black));
}

.p-menu {
  border: none;

  a {
    color: inherit;
    text-decoration: none;
  }
}
